<div class="header-container">
  <div class="header">
    <a href="#"><img src="assets/imgs/steven_munk.png" /></a>

    <div class="only-desktop">
      <a href="#aboutMeAnker">About me</a>
      <a href="#skillsAnker">Skills</a>
      <a href="#portfolioAnker">Portfolio</a>
    </div>

    <div class="burger-menu only-mobile">
      <img src="assets/imgs/burger_menu_line.png" />
      <img src="assets/imgs/burger_menu_line.png" />
      <img src="assets/imgs/burger_menu_line.png" />
    </div>
  </div>
</div>

<!-- <div class="menu-container">
  <div class="menu">
    <div>
      <a href="#aboutMeAnker">Aboute me</a>
      <a href="#skillsAnker">Skills</a>
      <a href="#portfolioAnker">Portfolio</a>
      <a href="#contactAnker">Contact</a>
    </div>

    <a href="#heroAnker">Impressum</a>
  </div>
</div> -->
