.header-container {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(20, 29, 47);
  overflow: hidden;
}

.header {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    gap: 50px;
  }

  a {
    &:hover {
      cursor: pointer;
      transition: 75ms ease-in-out;
      color: rgb(250, 121, 2);
    }
  }
}

.menu-container {
  z-index: 1000;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 70%;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #414856;

  transform: translateX(70vw);
  transition: 125ms ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  :first-child {
    padding-top: 50px;
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  :last-child {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.menu-slide {
  transform: translateX(0vw);
}

.close-btn {
  position: absolute;
  top: 64px;
  left: 60px;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {
  .header {
    width: 90vw;
  }
}

/* iPad & Tablet */
@media (max-width: 768px) {

  .header {
    div {
      gap: 10px;
    }
  }

  .burger-menu {
    width: 32px;
    height: 32px;
  }
}

/* iPad & Tablet */
@media (max-width: 300px) {
  .header {
    a {
      transform-origin: left;
      transform: scale(0.8);
      width: 40%;
    }
  }

  .burger-menu {
    transform-origin: right;
    transform: scale(0.8);
  }
}

.d-none {
  display: none !important;
}