<div class="header-container">
  <div class="header">
    <a href="#"><img src="assets/imgs/steven_munk.png" /></a>

    <div class="only-desktop">
      <a href="#aboutMeAnker">About me</a>
      <a href="#skillsAnker">Skills</a>
      <a href="#portfolioAnker">Portfolio</a>
    </div>

    <div (click)="toggleMenu()" class="burger-menu only-mobile">
      <img src="assets/imgs/burger_menu_line.png" />
      <img src="assets/imgs/burger_menu_line.png" />
      <img src="assets/imgs/burger_menu_line.png" />
    </div>
  </div>
</div>

  <div class="menu" id="menu">
    <div>
      <a (click)="toggleMenu()" href="#aboutMeAnker">Aboute me</a>
      <a (click)="toggleMenu()" href="#skillsAnker">Skills</a>
      <a (click)="toggleMenu()" href="#portfolioAnker">Portfolio</a>
      <a (click)="toggleMenu()" href="#contactAnker">Contact</a>
    </div>

    <a (click)="toggleMenu()" href="#">Impressum</a>
  </div>