<div class="footer-container">

    <div class="footer-content">

        <div class="footer-left">

            <a routerLink="/"><img src="../assets/imgs/steven_munk.png"></a>

            <div>

                <div class="imprit-container only-desktop">
                    <a routerLink="/imprint">Impressum</a>
                    <div class="red-line-imprint"></div>
                </div>

                <div class="imprit-container only-desktop">
                    <a routerLink="/datenschutz">Datenschutz</a>
                    <div class="red-line-imprint"></div>
                </div>

            </div>

        </div>

        <span>
            © Steven Munk 2023
        </span>

        <div class="footer-right">

            <a href="https://github.com/Icetune" target="_blank"><img src="../assets/imgs/github_logo.png"></a>
            <a href="mailto:s.f.munk@gmail.com" target="_blank"><img src="../assets/imgs/mail_logo.png"></a>
            <a href="https://www.linkedin.com/in/steven-munk-454785264/" target="_blank"><img
                    src="../assets/imgs/linked_in_logo.png"></a>

        </div>

    </div>

</div>