.footer-container {
    width: 100%;
    height: 250px;
    border-top: 2px solid #FA7902;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-left {
    display: flex;
    flex-direction: column;

    div {
        cursor: pointer;
    }

    img {
        transform-origin: left;
        transform: scale(1.1);
        cursor: pointer;
    }
}


a {
    font-size: 16px !important;
}


.imprit-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    &:hover {
        div {
            transform: translateX(52px);
        }
    }
}


.red-line-imprint {
    width: 50px;
    height: 0px;
    border: 2px solid red;
    border-radius: 2px;
    position: relative;
    right: 54px;
    transition: 125ms ease-in-out;
}


span {
    font-size: 23px;
}


.footer-right {
    display: flex;
    align-items: center;
    gap: 42px;

    img {
        cursor: pointer;
        transition: 75ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}


/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {

    .footer-content {
        width: 90vw;
    }

}


/* iPad & Tablet */
@media (max-width: 768px) {

    .footer-container {
        height: auto;
        padding-bottom: 50px;
    }


    .footer-content {
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }


    .footer-left {
        img {
            transform: scale(1.0);
            padding-bottom: 10px;
            padding-top: 35px;
        }
    }


    .imprit-container {
        padding-top: 10px;
    }
    
}