<div class="about-me-container">

    <div id="aboutMeAnker"></div>

    <img class="red-profile-shadow only-desktop" src="../assets/imgs/red_profile_shadow.png">

    <div class="about-me-content">
        
        <div>

            <h2 data-aos="fade-down">About me</h2>

            <p class="main-p" data-aos="zoom-in-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, provident eius! Nisi
                accusamus adipisci
                quo
                quos libero eaque consequuntur ex consectetur iusto soluta explicabo, debitis sint, quia saepe
                voluptate.
                Reprehenderit?</p>

            <div class="about-me-section" data-aos="zoom-in-right">
                <div>
                    <img src="../assets/imgs/lightbulb.png">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit placeat officia ex harum! Eum fugiat
                    aperiam dolores perspiciatis cupiditate dolore quaerat adipisci deserunt molestias facilis similique
                    iste, veritatis modi aliquam!</p>
            </div>

            <div class="about-me-section" data-aos="zoom-in-left">
                <div>
                    <img src="../assets/imgs/puzzle_piece.png">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam fuga commodi repellat
                    necessitatibus voluptas, quos quaerat accusantium non, error debitis iure! Doloribus expedita
                    repellat
                    repellendus natus nam! Dolorum, facilis!</p>
            </div>

        </div>

        <div class="about-me-imgbox only-desktop" data-aos="fade-left">

            <img class="profile-pic" src="../assets/imgs/test-profile-pic.png">
            <img class="orange-profile-line" src="../assets/imgs/orange_profile_line.png">
        
        </div>

    </div>
    
</div>