<div class="about-me-container">

    <div>

        <h2>About me</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, provident eius! Nisi accusamus adipisci quo
            quos libero eaque consequuntur ex consectetur iusto soluta explicabo, debitis sint, quia saepe voluptate.
            Reprehenderit?</p>

        <div>
            <img src="assets/imgs/lightbulb.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit placeat officia ex harum! Eum fugiat
                aperiam dolores perspiciatis cupiditate dolore quaerat adipisci deserunt molestias facilis similique
                iste, veritatis modi aliquam!</p>
        </div>

        <div>
            <img src="assets/imgs/puzzle_piece.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam fuga commodi repellat
                necessitatibus voluptas, quos quaerat accusantium non, error debitis iure! Doloribus expedita repellat
                repellendus natus nam! Dolorum, facilis!</p>
        </div>


    </div>

    <div>

        <img src="">

    </div>

</div>