<div class="about-me-container">

    <div id="aboutMeAnker"></div>

    <img class="red-profile-shadow " src="../assets/imgs/red_profile_shadow.png">

    <div class="about-me-content">

        <div>

            <h2 data-aos="fade-down">About me</h2>

            <p class="main-p" data-aos="zoom-in-left">I am a German-speaking Front-End-Developer with experience in
                building web applications using JavaScript & Angular. I started my IT journey last year by coding small
                websites at home. I fell in love with coding and decided to get serious about it.</p>

            <div class="about-me-section" data-aos="zoom-in-right">
                <div>
                    <img src="../assets/imgs/lightbulb.png">
                </div>
                <p>After that, I was taught by a professional programming school in Germany. During my time at the
                    "Developer Akademie," I built my projects with JavaScript and Angular.</p>
            </div>

            <div class="about-me-section" data-aos="zoom-in-left">
                <div>
                    <img src="../assets/imgs/puzzle_piece.png">
                </div>
                <p>Feel free to check out this public portfolio which includes some of the projects I built so far. I look
                    forward to building on my experience and starting my career in IT as a junior developer. </p>
            </div>

        </div>

        <div class="about-me-imgbox only-desktop" data-aos="fade-left">

            <img class="profile-pic" src="../assets/imgs/profile_pic.png">
            <img class="orange-profile-line" src="../assets/imgs/orange_profile_line.png">

        </div>

    </div>

</div>