.hero-container {
    margin-top: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 110px);
    position: relative;
    z-index: -2;
}


.hero-img {
    position: absolute;
    z-index: -1;
    width: 100%;
}


.hero-section {
    width: 100%;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: end;
}


.hero-text {
    display: flex;
    align-items: center;
    margin-top: 200px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.i-am {
    transform: rotate(270deg);
    font-size: 64px;
    position: relative;
    left: 20px;
    top: -36px;
}


.f-dev {
    font-size: 58px;
    height: 70px;
    color: #FF4747;
}


.talk-btn {
    font-size: 23px;
    font-weight: 600;
    color: white;
    background: #FA7902;
    width: 165px;
    height: 58px;
    margin-top: 44px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    transition: 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        background: #FF4747;
    }
}


.hero-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding-bottom: 30px;
}


.red-line {
    position: absolute;
    top: 18px;
    left: 0;
}


.hero-bottom-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}


.hero-bottom-left {
    display: flex;
    align-items: center;
    gap: 42px;

    img {
        cursor: pointer;
        transition: 75ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    span {
        cursor: pointer;
    }
}


.hero-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;

    span {
        transform: rotate(90deg);
        position: relative;
        bottom: 40px;
        width: 100px;
    }

    img {
        width: 16px;
        height: 16px;
    }
}


/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {

    .hero-section {
        max-width: 90vw;
    }

    .hero-bottom {
        max-width: 90vw;
    }

}