<div class="container">

    <div class="hero-section">

        <!-- <img src="assets/imgs/test_hero.png"> -->

        <div class="hero-text">

            <span class="i-am">
                I am
            </span>

            <div>

                <h1>Steven Munk</h1>
                <span class="f-dev">FRONTEND DEVELOPER</span>
                <button class="talk-btn">
                    Let's talk!
                </button>

            </div>

        </div>

    </div>

    <div class="hero-bottom">

        <img class="red-line" src="assets/imgs/red_line.png">

        <div class="hero-bottom-content">

            <div class="hero-bottom-left">

                <img src="assets/imgs/github_logo.png">
                <img src="assets/imgs/mail_logo.png">
                <img src="assets/imgs/linked_in_logo.png">
                <span>s.f.munk@gmx.de</span>

            </div>

            <div class="hero-bottom-right">

                <span>Scroll down</span>
                <img src="assets/imgs/arrow_little.png">

            </div>

        </div>

    </div>

</div>