<div class="hero-container">

    <img class="hero-img" src="assets/imgs/test-vector.png">

    <div class="hero-section">

        <div class="hero-text">

            <img src="assets/imgs/i_am.png">

            <a href="#contactAnker">
                <button> Let's talk! </button>
            </a>

        </div>

    </div>

    <div class="hero-bottom">

        <img class="red-line" src="assets/imgs/red_line.png">

        <div class="hero-bottom-content">

            <div class="hero-bottom-left">

                <a href="https://github.com/Icetune" target="_blank"><img src="assets/imgs/github_logo.png"></a>
                <a href="mailto:s.f.munk@gmx.de" target="_blank"target="_blank"><img src="assets/imgs/mail_logo.png"></a>
                <a href="https://www.linkedin.com/in/steven-munk-454785264/" target="_blank"><img src="assets/imgs/linked_in_logo.png"></a>

                <span class="only-desktop">s.f.munk@gmx.de</span>

            </div>

            <a href="#aboutMeAnker" class="hero-bottom-right only-desktop">

                <span>Scroll down</span>
                <img src="assets/imgs/arrow_little.png">

            </a>

        </div>

    </div>

</div>

<app-about-me></app-about-me>
<app-my-skills></app-my-skills>
<app-portfolio></app-portfolio>
<app-contact></app-contact>