.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


#contactAnker {
    position: absolute;
    top: -110px;
}


.red-shadow-contact {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


.contact-content {
    width: 1240px;
    display: flex;
    flex-direction: column;
}

.contact-mid-section {
    display: flex;
    margin-top: 80px;
    gap: 150px;
}

h4 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin-block: 15px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    textarea {
        resize: none;
        height: 200px;
    }

    button {
        width: 250px;
    }
}


.contact-input {
    width: 615px;
    background: none;
    border: 1px solid rgb(255, 71, 71);
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 16px;
    color: white;

    &:hover {
        border-color: #FA7902;
    }
}

input::placeholder,
textarea::placeholder {
    font-family: 'Poppins';
    font-size: 16px;
    color: white;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(20, 29, 47) inset !important;
    -webkit-text-fill-color: white !important;
}


.scroll-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-block: 50px;
}










/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {

    .contact-content {
        width: 90vw;
    }

}


/* iPad & Tablet */
@media (max-width: 768px) {

    .contact-mid-section {
        flex-direction: column;
        gap: 40px;
        margin-top: 25px;
    }

    h4 {
        font-weight: 700;
        font-size: 23px;
        margin: 0px;
        padding-block: 10px;
    }

    .contact-input {
        width: calc(100% - 50px);
    }

    button {
        margin-top: 0px;
    }

    .scroll-up {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .red-shadow-contact {
        transform-origin: left bottom;
        transform: scale(0.3);
    }

}