<div class="contact-container">

    <div id="contactAnker"></div>

    <img class="red-shadow-contact" src="../assets/imgs/red_shadow_contact.png">

    <div class="contact-content">

        <h2 data-aos="fade-right">Contact</h2>

        <div class="contact-mid-section">

            <div data-aos="fade-up">

                <h4>Got a problem to solve?</h4>
                <p>With this form, you can leave a message for me. I am interested in hearing you, knowing your ideas and contributing to
                    your
                    projects with my work.</p>
                <p>Need a Frontend developer? <b>Contact me!</b></p>

            </div>

            <form (submit)="sendMail()" ngNativeValidate #myForm  data-aos="zoom-in">

                <div class="send-box" *ngIf="mailSent">
                    
                    <img class="mail-img" src="../assets/imgs/email_sent.png">
                    <h3>Thank you for your message!<br>I will reply to you as soon as possible.</h3>

                </div>

                <input required class="contact-input" type="text" placeholder="Your name" name="name" #nameField>
                <input required class="contact-input" type="email" placeholder="Your email" name="email" #emailField>

                <textarea required class="contact-input" type="text" placeholder="Your message" name="message"
                    #messageField></textarea>

                <button #sendButton>Send message</button>

            </form>

        </div>

        <div class="scroll-up" data-aos="fade-down"  data-aos-anchor="myForm">

            <a href="#"><img src="../assets/imgs/scroll_up_icon.png"></a>

        </div>

    </div>

</div>