<div>

    <div>
        <h2>Portfilio</h2>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>

    <div>

        <div>

            <div>
                <img src="assets/imgs/join_img.png">
            </div>

            <div>

                <h3></h3>
                <span></span>
                <p></p>
                <div>
                    <button>
                        Live test
                    </button>
                    <button>
                        Github
                    </button>
                </div>

            </div>

        </div>

        <div>

            <div>

                <h3></h3>
                <span></span>
                <p></p>
                <div>
                    <button>
                        Live test
                    </button>
                    <button>
                        Github
                    </button>
                </div>

            </div>

            <div>
                <img src="assets/imgs/el_pollo_loco_img.png">                
            </div>
            
        </div>

        <div>

            <div>
                <img src="assets/imgs/placeholder_profile.png"> 
            </div>

            <div>
                
                <h3></h3>
                <span></span>
                <p></p>
                <div>
                    <button>
                        Live test
                    </button>
                    <button>
                        Github
                    </button>
                </div>

            </div>
            
        </div>

        <div>

            <div>

                <h3></h3>
                <span></span>
                <p></p>
                <div>
                    <button>
                        Live test
                    </button>
                    <button>
                        Github
                    </button>
                </div>

            </div>

            <div>       
                <img src="assets/imgs/pokedex_img.png">        
            </div>
            
        </div>

        <div>

            <div>
                <img src="assets/imgs/placeholder_profile.png">    
            </div>

            <div>
                
                <h3></h3>
                <span></span>
                <p></p>
                <div>
                    <button>
                        Live test
                    </button>
                    <button>
                        Github
                    </button>
                </div>

            </div>
            
        </div>

    </div>

</div>
