.portfolio-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    bottom: 100px;
}


#portfolioAnker {
    position: absolute;
    top: -110px;
}


.shadow {
    position: absolute;
    z-index: -1;
}


.-red {
    left: 0px;
    top: 800px;
}


.-orange {
    right: 0px;
    bottom: 0px;
}


.portfolio-content {
    width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    position: relative;
}


.red-line-portfolio {
    position: absolute;
    top: 75px;
    height: 4px;
}


.-long {
    right: 0px;
    width: 33%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.-short {
    left: 25vw;
    border-radius: 4px;
}


.all-projects {
    display: flex;
    flex-direction: column;
    gap: 200px;
}


.single-project {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 50%;
        padding-inline: 60px;
    }
}


.project-text {
    display: flex;
    flex-direction: column;
    gap: 15px;

    div {
        display: flex;
        gap: 100px;
    }
}


.align-right {
    align-items: flex-end;
    text-align: end;
}


h3 {
    font-weight: 700;
    font-size: 32px;
    color: #FF4747;
    margin: 0px;
}


span {
    font-size: 23px;
    color: #FA7902;
}


p {
    margin: 0px;
}


.test-btn {
    font-weight: 600;
    margin-top: 20px;
    width: 150px;
    height: 60px;
    background: #FF4747;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 125ms ease-in-out;
    cursor: pointer;

    &:hover {
         transform-origin: top;
         background: #FA7902;
         transform: scale(1);
    }
}


.git-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    border: #FA7902 1px solid;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    text-decoration: none;
    transition: 125ms ease-in-out;

    &:hover {
        background: #FA7902;
    }
}


.-odd {
    flex-direction: row;
}


.-even {
    flex-direction: row;
}


/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {

    .portfolio-content {
        width: 90vw;
    }


    .-long {
        width: 30vw;
    }


    .-short {
        left: 22vw;
    }

}


@media (max-width: 1170px) {

    .-long {
        width: 28vw;
    }


    .-short {
        left: 17vw;
    }

}


/* iPad & Tablet */
@media (max-width: 1100px) {

    .portfolio-container {
        padding-top: 100px;
        bottom: 0px;
    }


    .red-line-portfolio {
        top: 133px;
    }


    .-red {
        top: 1020px;
        transform-origin: left;
        transform: scale(0.35);
    }


    .-orange {
        bottom: 170px;
        transform-origin: right;
        transform: scale(0.5);
    }


    .portfolio-content {
        gap: 50px;
    }


    .all-projects {
        gap: 100px;
    }


    .single-project {
        justify-content: flex-start;
        gap: 35px;

        img {
            width: 70%;
            padding-inline: 0px;
        }
    }


    .-odd {
        flex-direction: column;
    }


    .-even {
        flex-direction: column-reverse;
    }


    .project-text {
        align-items: center !important;
        text-align: center !important;
        width: 90vw;

        div {
            display: flex;
            justify-content: space-between;
            width: 90vw;
            gap: 0px;

            :first-child {
                width: 40vw;
                max-width: 140px;
            }

            :last-child {
                width: 40vw;
                max-width: 140px;
            }
        }
    }


    @media (max-width: 1000px) {

        .-long {
            width: 23vw;
        }


        .-short {
            left: 10vw;
        }

    }


    @media (max-width: 768px) {


        .-long {
            width: 13vw;
        }


        .-short {
            left: 5vw;
            width: 10%;
        }

    }

}