.portfolio-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-content {
    width: 1240px;
    display: flex;
    flex-direction: column;
}

.portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.all-projects {
    display: flex;
    flex-direction: column;
}

.single-project {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 500px;
    }

}