<div id="portfolio" class="portfolio-container">

    <div id="portfolioAnker"></div>

    <img class="shadow -red" src="../assets/imgs/red_shadow_portfolio.png">
    <img class="shadow -orange" src="../assets/imgs/orange_shadow_portfolio.png">

    <img class="red-line-portfolio -long" data-aos="fade-left" src="../assets/imgs/red_line_portfolio_long.png">
    <img class="red-line-portfolio -short" data-aos="fade-left" src="../assets/imgs/red_line_portfolio_short.png">

    <div class="portfolio-content">

        <div class="portfolio-title">

            <h2 data-aos="fade-left">Portfolio</h2>
            <p data-aos="fade-right">This page is a sample of my work - please feel free to try them out.</p>

        </div>

        <div class="all-projects">

            <div *ngFor="let project of projects">

                <div class="single-project"
                    [ngClass]="{'-odd': project.imgLeft == true, '-even': project.imgLeft == false}">

                    <img data-aos="fade-up" *ngIf="project.imgLeft" src="{{ project.img }}">

                    <div class="project-text" [ngClass]="{'align-right': project.imgLeft == false}">

                        <h3 data-aos="fade-down">{{ project.name }}</h3>
                        <span data-aos="fade-down">{{ project.foundation }}</span>
                        <p data-aos="fade-down">{{ project.description }}</p>

                        <div>

                            <a data-aos="fade-right" class="test-btn" href="{{project.liveTest}}" target="_blank">
                                Live test
                            </a>

                            <a data-aos="fade-left" class="git-btn" href="{{project.github}}" target="_blank">
                                Github
                            </a>

                        </div>

                    </div>

                    <img data-aos="fade-up" *ngIf="!project.imgLeft" src="{{ project.img }}">

                </div>

            </div>

        </div>

    </div>

</div>