.my-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 110px);
    position: relative;
    bottom: 150px;
}


#skillsAnker {
    position: absolute;
    top: -110px;
}


.red-line-skills {
    position: absolute;
    right: 0;
    top: 345px;
    z-index: -1;
}


.orange-shadow-skills {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: -1;
}


.my-skills-content {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    gap: 30px;
}


.my-skills-icons {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    gap: 60px 115px;

    div {
        display: flex;
        flex-direction: column;
        width: 76px;
        align-items: center;
        text-align: center;
        gap: 10px;
        cursor: pointer;

        img {
            transition: 125ms ease-in-out;
        }

        &:hover {
            img {
                transform: translateY(-20px);
            }
        }
    }
}


.my-skills-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: end;
}

h2 {
    align-self: flex-end;
    padding-bottom: 20px;
}

span {
    font-weight: 700;
    font-size: 16px;
}


/*1378 = 100*(1240/90)*/
@media (max-width: 1378px) {

    .my-skills-content {
        width: 90vw;
    }

}


/* skills icons */
@media (max-width: 1100px) {

    .my-skills-content {
        width: 90vw;
    }

    .my-skills-icons {
        gap: 40px 80px;
    }

}


/* iPad & Tablet */
@media (max-width: 768px) {

    .my-skills-container {
        bottom: 0px;
        padding-top: 20px;
        align-items: flex-start;
        height: auto;
    }

    .my-skills-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .my-skills-icons {
        width: 100%;
        justify-content: center;
    }

    .my-skills-icons-row {
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }

    .red-line-skills {
        top: 55px;
        width: 3vw;
        height: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .orange-shadow-skills {
    top: 400px;
    transform-origin: left;
    transform: scale(0.6);
}

}