<div id="skills" class="my-skills-container">

    <div id="skillsAnker"></div>

    <img class="red-line-skills" src="assets/imgs/red_line_skills.png">
    <img class="orange-shadow-skills" src="assets/imgs/orange_shadow_skills.png">

    <div class="my-skills-content">

        <div class="my-skills-icons">

            <div class="my-skills-icons-row">
                <div>
                    <img src="assets/imgs/angular_icon.png">
                    <span>Angular</span>
                </div>
                <div>
                    <img src="assets/imgs/typescript_icon.png">
                    <span>Typescript</span>
                </div>
                <div>
                    <img src="assets/imgs/javascript_icon.png">
                    <span>JavaScript</span>
                </div>
                <div>
                    <img src="assets/imgs/html_icon.png">
                    <span>HTML</span>
                </div>
            </div>

            <div class="my-skills-icons-row">
                <div>
                    <img src="assets/imgs/firebase_icon.png">
                    <span>Firebase</span>
                </div>
                <div>
                    <img src="assets/imgs/git_icon.png">
                    <span>GIT</span>
                </div>
                <div>
                    <img src="assets/imgs/css_icon.png">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="assets/imgs/api_icon.png">
                    <span>REST-Api</span>
                </div>
            </div>

            <div class="my-skills-icons-row">
                <div>
                    <img src="assets/imgs/scrum_icon.png">
                    <span>Scrum</span>
                </div>
                <div>
                    <img src="assets/imgs/material_design_icon.png">
                    <span>Material<br>design</span>
                </div>
            </div>

        </div>

        <div class="my-skills-text">

            <h2>My skills</h2>

            <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
            <a href="#contactAnker">
                <button>Get in touch</button>
            </a>

        </div>

    </div>

</div>