<div id="skills" class="my-skills-container">

    <div id="skillsAnker"></div>

    <img class="red-line-skills" data-aos="fade-left" src="assets/imgs/red_line_skills.png">
    <img class="orange-shadow-skills" src="assets/imgs/orange_shadow_skills.png">

    <div class="my-skills-content">

        <div class="my-skills-text only-mobile">

            <h2>My skills</h2>
            <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>

        </div>

        <div class="my-skills-icons" data-aos="fade-right">

            <div *ngFor="let skill of skills; let i = index;">
                <img src="{{ skill.img }}">
                <span>{{ skill.name }}</span>
            </div>

        </div>

        <a href="#contactAnker" class="only-mobile">

            <button>Get in touch</button>

        </a>

        <div class="my-skills-text only-desktop">

            <h2 data-aos="fade-left" id="mySkills">My skills</h2>
            <p data-aos="fade-left" data-aos-anchor="#mySkills">I have grown my frontend developments skills that have allowed me to create different real projects.
            </p>
            <a href="#contactAnker" data-aos="fade-up" data-aos-anchor="#mySkills">
                <button>Get in touch</button>
            </a>

        </div>

    </div>